.navbar-toggler .toggler-icon,
.navbar-toggler.collapsed .top-bar, 
.navbar-toggler.collapsed .middle-bar,
.navbar-toggler.collapsed .bottom-bar {
    background-color: #eee !important;
}


.category-filter-dropdown .category-thumb {
    width: 35px;
    height: 26px;
    -o-object-fit: cover;
    object-fit: cover;
}

.category-filter-dropdown .dropdown-menu {
    padding: 0.5rem;
}

.category-filter-dropdown .dropdown-item {
    border-radius: 0.25rem;
    padding: 0.4rem 0.5rem;
}

.category-filter-dropdown .dropdown-item.active .badge {
    background-color: #fff !important;
}

/* Pagination customization */
@media screen and (max-width: 575.98px) {
    .pagination .page-item .page-link.previous-btn,
    .pagination .page-item .page-link.next-btn{
        border-radius: 0.25rem !important; 
        line-height: 1rem; 
        width: 90px; 
        font-size: 1rem;
        height: auto;
        padding: 0.5rem 0.75rem !important;
        margin: 0;
        background-color: #6f42c1;
        color: #fff;
    }

    .pagination .page-item.disabled .page-link.previous-btn,
    .pagination .page-item.disabled .page-link.next-btn {
        background-color: #fff;
        color: #ccc;
    }
}


/* Lesson sidebar */
.lesson__sidenav .offcanvas {
    padding: 0.1rem;
}


/*  */
.profile__content__courses .course__thumb {
    height: 4.2rem;
}